[train_server]
# no quotes around strings in this config file!
#wemo is the "smart" switch that the train transformer plugs into
#this also gets checked later
wemo_ip = 192.168.1.191  
wemo_mac = EC:1A:59:F7:54:ED

#relay_server is a group of relays with TCP/IP support
#this also gets checked later
relay_server = 192.168.1.95 
relay_server_port = 30000

#log_filename = /home/pi/train_log.log
log_filename = /var/log/train_log.log
state_filename = /home/pi/train_state.txt

#Logging level for output file like DEBUG, INFO, WARNING
log_level = DEBUG

rabbitmq_pid_file = /var/run/rabbitmq/pid
